@media (max-width: 700px) {
    .content {
        max-width: 100%;
    }

    header div {
        display: flex;
        justify-content: center;
    }

    .mainzagol {
        font-size: 1.8em;
        text-align: center;
    }

    .block1 {
        flex-direction: column;
    }

    .block1__items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block1__item {
        margin: 10px;
        align-items: center;
    }

    p.description {
        display: none;
    }

    .block1__zagol {
        text-align: center;
    }

    .block1 img {
        width: 300px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .block1 button {
        width: 300px;
        height: 50px;
        font-size: 1.1em;
    }

    .header {
        text-align: center;
    }

/*---------------------------------block2-------------------------------------*/

    .block2 {
        flex-direction: column;
        align-items: center;
    }

    .block2__item {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
    }

    .block2__item__content {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .block2__item__content p {
        text-align: center;
    }

/*---------------------------------block3-------------------------------------*/

    .block3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block3 div:nth-child(1) {
        width: 100%;
    }

/*---------------------------------block4-------------------------------------*/

.block4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block4 div:nth-child(1) {
    width: 100%;
}

/*--------------------------------actions-------------------------------------*/

    .actions__desktop {
        display: none;
    }

    .actions__mobile {
        display: block;
    }
}